server:
  port: 9001

spring:
  application:
    name: auth-server
  
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local} # 환경변수가 없으면 local 사용

  # 공통 JPA 설정
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

# JWT 설정 (환경변수화)
jwt:
  secret-key: ${JWT_SECRET}
  access-token-expiration-time: 600000
  refresh-token-expiration-time: 3600000